{% extends 'website/base.html' %}
{% block contentup %}
    <main role="main" class="container">


    <div class="content-section">

        <span class="glyphicon glyphicon-th-list" style=" font-size: 40px" aria-hidden=" true">Bidderlist</span>
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th style="font-size: 20px;font-family: Comic Sans MS, serif;">UserName</th>
                <th style="font-size: 20px;font-family: Comic Sans MS, serif;">Product</th>
                <th style="font-size: 20px;font-family: Comic Sans MS, serif; ">Bid Amount</th>
                <th style="font-size: 20px;font-family: Comic Sans MS, serif; ">Winning</th>

            </tr>
            </thead>
            <tbody>
            {% for bid in bidder_list %}
                <tr>
                    <td style="font-size: 20px;font-family: Comic Sans MS, serif;">{{ bid.user_name }}
                    <td style="font-size: 20px;font-family: Comic Sans MS, serif;"><a href="{% url 'product_detail' bid.product_id_id  %}">View</a></td>

                    <td style="font-size: 20px;font-family: Comic Sans MS, serif;">{{ bid.bid_amount}} </td>

                    <td style="font-size: 20px;font-family: Comic Sans MS, serif;">
                        {% if bid.wining %} <i class="fas fa-check"></i> {% else %}
                            <i class="fas fa-times"></i> {% endif %}</td>

                </tr>

            {% endfor %}
            {{ break }}
            </tbody>
        </table>
    </div>

    </main>
{% endblock %}
