{% extends 'website/base.html' %}

{% block contentup %}
    <style>

    input {
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
    </style>
<main role="main" class="container">
    <div>

        <main class="row">
            <div class="col-md-12">

                        <form class="form-control" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
</form>
                    </div>



        </main>
    </div>
</main>
{% endblock %}

<script>
    window.onload = function () {
        document.getElementById("ia").value = document.getElementById("abc").value;
        alert("abc");
    }

    function check() {
        document.getElementById("ia").value = document.getElementById("abc").value;
    }
</script>
