<nav class="navbar navbar-default mb-xl-5 mb-4">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                    <!-- Search-from -->
<div class="left">
    <div class="btn btn-primary lg ">
                        <a href="{% url 'home' %}"> Home</a>
                    </div>
                        <div class=" btn btn-primary lg ">
                        <a href="{{ '/admin' }}"> Admin </a>
                    </div>
<div class="btn btn-primary lg">
                        <a href="{% url 'viewnotify' %} "> <i class="fas fa-bell"></i>{% if notifications %}
                                {{ unviewed }}
                            {% endif %}
                            </i> </a>
                    </div>



<div class="btn btn-primary lg">
                        <a href="{% url 'profile' %} "> Profile </a>
                    </div>
                    <div class="btn btn-primary lg">
                        <a href="{% url 'logout' %} "> Logout </a>
                    </div>

</div>
                    <!--// Search-from -->

                </div>
            </nav>
